@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page (Beta)";
}

<style>
    body {
        background-color: #008080
    }
</style>

<div class="text-center">
    <h1 class="display-4">Beta Feature</h1>
</div>
